.container .text{
    position: relative;
    color: #4070F4;
    font-size: 30px;
    font-weight: 600;
}
.container .text.first-text{
    color: #FFF;
    font-size: 70px;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(15, 23, 43), rgb(15, 23, 43));
    border-left: 2px solid #FEA116;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}