{% extends "base.html" %}

{% block content %}

        <!-- Body Start -->
         {% for cle in types %}
            <div class="card__container swiper">
               <div class="type_bar p-3">
                  <div class="type_non text-primary">{{ cle }}</div> <div class="bar_espace"></div>
               </div>
               <div class="card__content">
                  <div class="swiper-wrapper">
               {%  for repas in types[cle] %}     
                        <article class="card__article swiper-slide">
                           <div class="card__image">
                              <img src="{{url_convert(repas.image_url)}}" alt="{{url_convert(repas.image_url)}}" class="card__img" >
                              <div class="card__shadow"></div>
                           </div>
            
                           <div class="card__data">
                              <h3 class="card__name">{{ repas['nom'] }}</h3>
                              <p class="card__description">
                                 {{ cle }} du Cameroun et d'Afrique
                              </p>
            
                              <form method="post" action="{{ url_for('repas') }}">
                                 <button class="card__button" value="{{repas['id']}}" name = "id">Voir Plus</button>
                              </form>
                           </div>
                        </article>
               {% endfor %}   
         
                  </div>
               </div>
   
               <!-- Navigation buttons -->
               <div class="swiper-button-next text-primary">
                  <i class="ri-arrow-right-s-line"></i>
               </div>
               
               <div class="swiper-button-prev text-primary">
                  <i class="ri-arrow-left-s-line"></i>
               </div>
   
               <!-- Pagination -->
               <div class="swiper-pagination bg-primary text-primary"></div>
            </div>
         {% endfor %}
          
         
         <!--=============== SWIPER JS ===============-->
    <script src="{{ url_for('static', filename='assets/js/swiper-bundle.min.js')}}"></script>
    <script src=""></script>
   
         <!--=============== MAIN JS ===============-->
    <script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>

        <!-- Body End -->
{% endblock %}